<% content_for :body_content_left do %>
  <div class="recommendations">
    <%= render 'item', :recommendation => @recommendation %>
    <% @other_recommendations.each do |rec| %>
         <%= render 'item', :recommendation => rec unless (@recommendation.id == rec.id) %>
    <% end %>
  </div>
<% end %>
<%= render '/refinery/content_page' %>







